/* RESET */
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    background-color: rgba(255,255,255,1);
    left: 0;
    right: 0;
    min-height: 94px;
}

header>div {
    display: flex;
    justify-content: space-between;
    height: 64px;
    font-size: 22px;
    padding-top: 8px;
    padding-right: 8px;
}

header #links {
    margin-left: 42px;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 2em;
}

header a {
    color: #5f6368;
    text-decoration: none;
}

header button {
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

nav {
    border-bottom: 1px solid rgba(151,151,151,0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: 42px;
    font-size: 15px;
    margin-bottom: -1px;
}

nav li {
    display: inline-block;
    margin-right: 42px;
    line-height: 1.43;
    padding-bottom: 6px;
}

nav a {
    padding-bottom: 6px;
}

#active {
    color: #3367d6;
    border-bottom: 3px solid #3367d6;
    padding-bottom: 6px;
}

main {
    padding-top: 94px;
}

.container {
    width: 75%;
    margin: 5em auto;
}

h2, h3 {
    margin-top: 3em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 2em;
}

.container>ol {
    margin-top: 2em;
    margin-bottom: 2em;
}

li>ol {
    margin-top: 1em;
}

li>ol li {
    margin-bottom: 1em;
}